<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.common.DAO.AgentTaskConfigMapper">

	<resultMap id="agentTaskConfigMap" type="com.mytijian.mediator.common.DO.AgentTaskConfigDO">
		<id property="id" column="id"/>
		<result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		<result column="task_cmd" property="taskCmd" jdbcType="VARCHAR"/>
		<result column="task_name" property="taskName" jdbcType="VARCHAR"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<result column="default_task_bean_name" property="defaultTaskBeanName" jdbcType="VARCHAR"/>
		<result column="default_crontab_expression" property="defaultCrontabExp" jdbcType="VARCHAR"/>
		<result column="default_task_params" property="defaultTaskParam" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="columns">
		id,
		gmt_created,
		gmt_modified,
		task_cmd,
		task_name,
		sequence,
		default_task_bean_name,
		default_crontab_expression,
		default_task_params
	</sql>
	
	<select id="selectTaskConfigList" resultMap="agentTaskConfigMap">
		select <include refid="columns"/>
		from 
			tb_mediator_agent_task_config
		order by sequence
	</select>
	
	<select id="selectTaskConfigByTaskCmd" resultMap="agentTaskConfigMap">
		select <include refid="columns"/>
		from 
			tb_mediator_agent_task_config
		where 
			task_cmd = #{taskCmd}
	</select>
</mapper>