<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.common.DAO.HisInfoMapper">

	<resultMap id="hisInfoMap" type="com.mytijian.mediator.api.model.HisInfo">
		<id property="hospitalId" column="hospital_id"/>
		<result property="hisName" column="his_name" />
		<result property="engineName" column="engine_name" />
		<result property="gmtCreated" column="gmt_created"/>
		<result property="gmtModified" column="gmt_modified"/>
	</resultMap>
	
	<sql id="columns">
		hospital_id,
		his_name,
		engine_name,
		gmt_created,
		gmt_modified
	</sql>
	
	<select id="selectByHospitalId" resultMap="hisInfoMap">
		select <include refid="columns"/>
		from 
			tb_his_info
		where 
			hospital_id = #{hospitalId}
	</select>
</mapper>