<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.common.DAO.MediatorVersionMapper">

	<select id="selectByHospitalId" resultType="com.mytijian.mediator.common.model.MediatorVersion">
		select id as "id",
			   hospital_id as "hospitalId",
			   version as "version",
			   create_time 	as "createTime",
			   update_time as "updateTime"
		from
			tb_mediator_hospital_version
		where 
			hospital_id = #{hospitalId}
	</select>
	
</mapper>