<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.mytijian.mediator.order.DAO.MediatorOrderExportHisMapper">
	<resultMap id="mediatorOrderExportHisMap"
		type="com.mytijian.mediator.order.model.MediatorOrderExportHis">
		<id column="export_id" property="exportId" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
		<result column="is_export" property="isExport" jdbcType="INTEGER" />
		<result column="export_type" property="exportType" jdbcType="INTEGER" />
		<result column="sequence" property="sequence" jdbcType="INTEGER" />
		<result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
		<result column="exam_date" property="examDate" jdbcType="DATE"/>
		<result column="account_id" property="accountId" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		export_id,
		order_id,
		hospital_id,
		create_time,
		update_time,
		is_export,
		export_type,
		sequence,
		order_num,
		exam_date,
		account_id,
		name
	</sql>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into
		tb_mediator_order_export_his (
		order_id,
		hospital_id,
		create_time,
		update_time,
		export_type,
		sequence,
		order_num,
		exam_date,
		account_id,
		name
		) values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.orderId},
			#{item.hospitalId},
			now(),
			now(),
			#{item.exportType},
			#{item.sequence},
			#{item.orderNum},
			#{item.examDate},
			#{item.accountId},
			#{item.name}
			)
		</foreach>
	</insert>

	<!-- 根据医院Id获取导出订单列表 -->
	<select id="getMediatorHospitalOrderExportByPage" resultMap="mediatorOrderExportHisMap">
		select
		<include refid="columns" /> from tb_mediator_order_export_his
		where hospital_id = #{hospitalId} and is_export = #{isExport} 
		<if test="exportType!=null">
			and export_type=#{exportType}
		</if>
		order by sequence asc
	</select>

	<!-- 根据订单编号更新订单导出状态 -->
	<update id="updateOrderExportByOrderIds">
		update tb_mediator_order_export_his set is_export=#{isExport}, update_time= now()
			WHERE order_id IN 
		<choose>
			<when test="orderIds != null and orderIds.size > 0">
				<foreach collection="orderIds" open="(" close=")" item="orderId" separator="," >
					#{orderId}
				</foreach>
			</when>
			<otherwise>
			(-1)
			</otherwise>
		</choose>
	</update>
	
	<update id="updateOrderExportByOrderId">
		update tb_mediator_order_export_his set is_export=#{isExport}, update_time= now()
			WHERE order_id=#{orderId}
	</update>
	
	<!-- 获取导出订单最大排序编号 -->
	<select id="getMaxSequence" resultType="java.lang.Integer">
		select IFNULL(MAX(sequence), 0) from tb_mediator_order_export_his 
	</select>
	
	<!-- 根据订单Id获取订单导出流水总数 -->
	<select id="getMediatorOrderExportHisCountByOrderId" resultType="java.lang.Integer">
		select count(1) from tb_mediator_order_export_his where order_id=#{orderId}
	</select>
	
	<insert id="insert" parameterType="com.mytijian.mediator.order.model.MediatorOrderExportHis">
	insert into
	tb_mediator_order_export_his (
		order_id,
		hospital_id,
		create_time,
		update_time,
		export_type,
		sequence,
		order_num,
		exam_date,
		account_id,
		name
	) values
	(
		#{orderId},
		#{hospitalId},
		now(),
		now(),
		#{exportType},
		#{sequence},
		#{orderNum},
		#{examDate},
		#{accountId},
		#{name}
	)
	</insert>
	
	<select id="getMediatorOrderExportHisByOrderId" resultMap="mediatorOrderExportHisMap">
		select
		<include refid="columns" /> from tb_mediator_order_export_his
		where order_id = #{orderId} order by export_id desc limit 1
	</select>
	
</mapper>